---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Gonzalo Reynoso | Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-28">Featured Projects</div>
  </div>

  <HorizontalCard
    title="GuitarLA - Guitar-Ecommerce"
    img="/guitarLA.webp"
    desc="E-commerce for guitars, with a shopping cart, statuses, and a local database."
    url="https://guitar-la-alpha.vercel.app/"
    badge="NEW"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title="Weather's app."
    img="/clima.webp"
    desc="Weather app, with the current weather."
    url="https://github.com/gonreynoso/app-weather"
    
  />
  <div class="divider my-0"></div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Others Projects</div>
  </div>

  <HorizontalCard
    title="Garage Manager (Java)"
    img="/java_project.webp"
    desc="Console-based garage management system built in Java. Allows vehicle registration, tracking, and fee calculation using OOP principles."
    url="#"
  
  />
  <div class="divider my-0"></div>

  
  <HorizontalCard
    title="BankApp - Java Banking System"
    img="/j.webp"
    desc="Java console app to simulate a basic banking system with account creation, transactions, and inheritance between account types."
    url="#"
  />
  <div class="divider my-0"></div>
  <!-- <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  /> -->
</BaseLayout>
