---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Gonzalo Reynoso | Resume" sideBarActiveItemID="cv">
  <div class="mb-5 mt-28">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Full Stack Developer with experience in web application development. I have
    worked on various projects using a wide range of technologies, including
    JavaScript, React, TypeScript, Node.js, Angular, Express, SQL, and NoSQL. <br
    />I have experience in version control using Git, GitHub, Gitlab, Jira,
    Teams, Trello, and implementing Kanban and Scrum in development teams to
    optimize delivery and improve communication. <br />I am currently pursuing a
    degree in Systems Analysis, where I am deepening my knowledge of Java and
    its application in software development. <br />I hold an advanced B2 level
    of English.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Front-end Angular Developer"
      subtitle="From Oct 2024 to Present at Innevo, Santiago de Chile, Chile">
      I worked on a web application built with Angular, focusing on creating a
      dynamic and responsive user interface. My role involved developing modular
      components, integrating Angular Material for a cohesive design, and
      implementing advanced TypeScript practices. <br />
      The application interacts with various REST APIs, enabling efficient data handling
      and ensuring a seamless user experience. <br />
      • Angular Component Development: Built reusable and optimized Angular components,
      following best practices. <br />
      • Angular Material Integration: Implemented Angular Material to enhance user
      experience and visual consistency.<br />
      • Reactive Forms: Developed dynamic and custom-validated forms using Angular
      Reactive Forms.<br />
      • State Management and Services: Configured Angular services to handle business
      logic and share data between components.<br />
      • REST API Integration: Integrated external APIs using Angular’s HTTPClient
      for CRUD operations and data display.
    </TimeLineElement>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Administrative & IT Analyst"
      subtitle="From Aug 2020 to Apr 2024 at Medicina Diagnóstica, Buenos Aires, CABA, Argentina">
      As an Administrative & IT Analyst at Medicina Diagnóstica, I focused on
      optimizing internal processes through the development of technological
      solutions, task automation, and data management. My work ranged from
      document digitization to customer service. <br />
      • Developed applications using Google Script to automate company payroll processes,
      optimizing data collection and financial processing. <br />
      • Implemented interactive dashboards with Power BI, enhancing administrative
      and financial data analysis in the healthcare sector. <br />
      • Designed and developed the laboratory’s official website using WordPress
      and MySQL, ensuring accurate and up-to-date information.<br />
      • Managed digital and physical documentation in the billing department, applying
      methodologies to improve data organization and accessibility.<br />
      • Provided customer service support, handling patient registration and delivering
      clinical test results with efficiency and accuracy.<br />
      • Managed invoicing, payment tracking, and employee payroll processing, ensuring
      a smooth administrative workflow.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Internships</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Front-end React Developer"
      subtitle="From Nov 2023 to Dec 2023 at Informental, Mendoza, Argentina">
      • Collaborated in transitioning the application from PHP to React.<br />
      • Developed the web version of the application, working on the design of various
      tabs, data forms, and charts.<br />
      • Worked with the Informental team to improve user experience by optimizing
      performance and integrating React and Node.js technologies.<br />
      • Achieved a 15% reduction in loading times by optimizing code using React
      Server Components.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="System Analysis"
      subtitle="Sept 2024 to Dec 2027 at Da Vinci's University, Federal Capital of Buenos Aires, Argentina"
    />
    <TimeLineElement
      title="Full Stack Developer"
      subtitle="Jan 2023 to Jul 2023 at Henry Bootcamp, Federal Capital of Buenos Aires, Argentina"
    />
    <TimeLineElement
      title="Advanced Course in React/TypeScript"
      subtitle="Jul 2023 to Dec 2023 at Udemy, Federal Capital of Buenos Aires, Argentina"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://drive.google.com/file/d/1AW4chaaRdrU2cZTXnBT-DB0HuOwSS4MI/view?usp=sharing"
        target="_blank">
        Full Stack Developer at <strong>Henry Bootcamp</strong></a
      >
    </li>
    <li>
      <a
        href="https://drive.google.com/file/d/1UUvrZTnVCAjwyV06SHwauSJBmAIyk2TD/view?usp=sharing"
        target="_blank">Web Developer at <strong>CoderHouse</strong></a
      >
    </li>
    <li>
      <a
        href="https://drive.google.com/file/d/1UUvrZTnVCAjwyV06SHwauSJBmAIyk2TD/view?usp=sharing"
        target="_blank">React Js at <strong>CoderHouse</strong></a
      >
    </li>
    <li>
      <a
        href="https://drive.google.com/file/d/1UUvrZTnVCAjwyV06SHwauSJBmAIyk2TD/view?usp=sharing"
        target="_blank">JavaScript at <strong>CoderHouse</strong></a
      >
    </li>
    <li>
      <a
        href="https://drive.google.com/file/d/1UUvrZTnVCAjwyV06SHwauSJBmAIyk2TD/view?usp=sharing"
        target="_blank">B2 English Certificate <strong>Efset</strong></a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JavaScript</li>
    <li>HTML5</li>
    <li>CSS</li>
    <li>SCSS</li>
    <li>Java</li>
    <li>Angular</li>
    <li>Angular Material</li>
    <li>Sql</li>
    <li>React</li>
    <li>Astro</li>
    <li>Git</li>
    <li>Firebase</li>
    <li>Firestore</li>
    <li>NodeJs</li>
    <li>GitHub</li>
    <li>Gitlab</li>
    <li>Git</li>
    <li>Express</li>
    <li>Bootstrap</li>
    <li>PostgreSQL</li>
    <li>WordPress</li>
    <li>Trello</li>
    <li>Jira</li>
    <li>Photoshop</li>
  </ul>
</BaseLayout>
