---
import SectionContainer from "@components/SectionContainer.astro";
import AboutMeData from "./AboutMeData.astro";
import { dict } from "../i18n";
---

<div class="mt-20 mb-6">
  <h2 class="text-3xl font-bold mb-2 text-gray-100">
    <span data-lang="es">{dict.es.about.title}</span>
    <span data-lang="en">{dict.en.about.title}</span>
  </h2>
</div>

<SectionContainer id="sobre-mi">
  <AboutMeData />
</SectionContainer>
