---
import SectionContainer from "@components/SectionContainer.astro";
import AboutMeData from "./AboutMeData.astro";
---

<div class="mt-20 mb-10 text-gray-800 dark:text-gray-200">
  <div class="text-3xl w-full font-bold mb-2">About Me</div>
</div>

<SectionContainer id="sobre-mi">
  <AboutMeData />
</SectionContainer>
