---
const personalImageAlt = "Gonzalo Reynoso";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-200 dark:text-gray-100 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-[#54da7a] dark:[&>p>strong]:text-[#54da7a] [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
    <p>
      My name is Gonzalo Reynoso, but my friends call me Gon. I was born and
      live in Buenos Aires, and over time, I have delved into the world of web
      development, specializing in technologies such as Angular, Node.js, and
      WordPress.
      <strong>
        Currently, I am working with Angular 18 and Express, where I have
        learned to manage dynamic routes, signals, and advanced patterns for
        communication between components.
      </strong>
    </p>
    <p>
      I enjoy the learning process and am always open to new challenges. I am
      motivated by the idea of continuing to grow as a developer and applying my
      knowledge in projects that challenge me and allow me to improve. Every
      line of code is an opportunity to learn something new and take another
      step in my professional journey. 🚀
    </p>

    <p>
      <strong>
        I am developing a project that calls an API to fetch weather
        information, using Tailwind for the design.
      </strong>
      I focus on understanding the backend to ensure the system is efficient and
      well-structured.
    </p>

    <!-- <p>
      I enjoy the learning process and am always open to new challenges.
      <strong>
        <em class="italic">
          "Every line of code brings me closer to my best professional version."
          🚀
        </em>
      </strong>
    </p> -->
  </div>

  <img
    width="200"
    height="200"
    src="/picture-profile.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
