---
import SectionContainer from "@components/SectionContainer.astro";
import Projects from "@components/Projects.astro";
---

<div class="mt-20 mb-10">
  <div class="text-3xl w-full font-bold mb-2 text-gray-800 dark:text-gray-200">
    Latest Works
  </div>
</div>

<SectionContainer id="proyectos">
  <Projects />
</SectionContainer>
