---
import CopyButton from "../components/CopyButton.astro";
---

<div class="pb-8 gap-8 mt-28">
  <div class="flex flex-row gap-4 mb-4">
    <img
      class="rounded-full shadow-lg w-28"
      src="/picture-profile.webp"
      alt="Gonzalo Reynoso"
    />
    <a
      href="https://linkedin.com/in/gonreynoso"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105">
      <div class="flex items-center">
        <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
          <span
            class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"
          ></span>
          <div
            class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-green-800 bg-green-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap">
            Available for work
          </div>
        </span>
      </div>
    </a>
  </div>

  <div class="flex flex-col">
    <div class="text-xl py-1">Hey there!👋<br /></div>
    <div class="text-5xl"><strong>I'm Gonzalo Reynoso</strong></div>
    <div class="text-3xl py-3">Full Stack Developer & Systems Analyst</div>
  </div>
</div>
<div class="flex flex-row content-start gap-x-7 max-md:flex-col max-md:gap-10">
  <div class="max-w-md flex flex-row">
    <div
      class="flex items-center rounded-xl overflow-hidden shadow-sm border border-gray-300">
      <div
        class="px-3 py-2 bg-base-100 text-gray-100 flex items-center border border-gray-300">
        <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M2.94 6.34A2 2 0 012 5V4a2 2 0 012-2h12a2 2 0 012 2v1a2 2 0 01-.94 1.34L10 10 2.94 6.34zM2 8.12V15a2 2 0 002 2h12a2 2 0 002-2V8.12l-7.06 4.14a1 1 0 01-.88 0L2 8.12z"
          ></path>
        </svg>
        <span id="emailText" class="text-gray-100"
          >gonzalo.reynoso9@gmail.com</span
        >
      </div>
      <CopyButton class="hover:text-black" text="gonzalo.reynoso9@gmail.com" />
    </div>
  </div>
  <div class="flex max-md:flex-row max-md:gap-6 gap-6 flex-wrap">
    <a
      href="/Resume_Gonzalo_Reynoso.pdf"
      download
      target="_blank"
      rel="noopener noreferrer"
      role="link"
      class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
      <svg
        class="size-4"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        data-darkreader-inline-stroke=""
        style="--darkreader-inline-stroke: currentColor;"
        ><path
          stroke="none"
          d="M0 0h24v24H0z"
          fill="none"
          data-darkreader-inline-stroke=""
          style="--darkreader-inline-stroke: none;"></path><path
          d="M6 2a2 2 0 00-2 2v16a2 2 0 002 2h12a2 2 0 002-2V8l-6-6H6zm7 1.5L18.5 9H13V3.5zM8 11h8v2H8v-2zm0 4h8v2H8v-2z"
        ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"></path><path
          d="M12 16l0 -5"></path><path d="M16 16v-3a2 2 0 0 0 -4 0"></path></svg
      >
      Resume
    </a>
    <a
      href="https://linkedin.com/in/gonreynoso"
      target="_blank"
      rel="noopener noreferrer"
      role="link"
      class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
      <svg
        class="size-4"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        data-darkreader-inline-stroke=""
        style="--darkreader-inline-stroke: currentColor;"
        ><path
          stroke="none"
          d="M0 0h24v24H0z"
          fill="none"
          data-darkreader-inline-stroke=""
          style="--darkreader-inline-stroke: none;"></path><path
          d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
        ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"></path><path
          d="M12 16l0 -5"></path><path d="M16 16v-3a2 2 0 0 0 -4 0"></path></svg
      >
      LinkedIn
    </a>
    <a
      href="https://github.com/gonreynoso"
      target="_blank"
      rel="noopener noreferrer"
      role="link"
      class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
      <svg
        class="size-4"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        data-darkreader-inline-stroke=""
        style="--darkreader-inline-stroke: currentColor;"
        ><path
          stroke="none"
          d="M0 0h24v24H0z"
          fill="none"
          data-darkreader-inline-stroke=""
          style="--darkreader-inline-stroke: none;"></path><path
          d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
        ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"></path><path
          d="M12 16l0 -5"></path><path d="M16 16v-3a2 2 0 0 0 -4 0"></path></svg
      >
      GitHub
    </a>
  </div>
</div>

<script></script>
