---
import LangToggle from "./LangToggle.astro";
import { dict } from "../i18n";
---

<nav
  class="flex z-20 flex-row md:flex-row md:justify-between md:items-center py-4 px-8 text-white fixed top-0 right-0 left-0">
  <div class="mt-4 md:mt-0 p-2 px-4 mx-auto rounded-2xl bg-base-100 flex items-center gap-6">
    <ul class="flex flex-row list-none space-x-0 gap-6">
      <li>
        <a
          href="/"
          class="text-white no-underline text-base transition-colors duration-300 ease-in-out hover:text-[#54da7a]">
          <span data-lang="es">{dict.es.nav.home}</span>
          <span data-lang="en">{dict.en.nav.home}</span>
        </a>
      </li>
      <li>
        <a
          href="/resume"
          class="text-white no-underline text-base transition-colors duration-300 ease-in-out hover:text-[#54da7a]">
          <span data-lang="es">{dict.es.nav.resume}</span>
          <span data-lang="en">{dict.en.nav.resume}</span>
        </a>
      </li>
    </ul>
    <LangToggle />
  </div>
</nav>
