---
const { class: className = "", id } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class:list={[
    "section w-full mx-auto container xl:max-w-6xl lg:max-w-5xl px-6",
    className,
  ]}
  style="scroll-margin-top: 5rem;"
>
  <slot />
</section>
